<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seciii.oasis.data.paper.AuthorMapper">
    <insert id="insertAuthor" parameterType="com.seciii.oasis.po.Author"
            useGeneratedKeys="true" keyProperty="aid" keyColumn="aid">
        insert into author(aname, activity, paperamount, papercited)
        values(#{aname}, #{activity}, #{paperamount}, #{papercited})
    </insert>

    <insert id="insertAidPid" >
        insert into authorpaper(aid,pid,authorrank)
        values(#{aid},#{pid},#{rank})
    </insert>

    <insert id="insertAidIid" >
        insert into authorinstitution(aid,iid)
        values(#{aid},#{iid})
    </insert>

    <select id="selectByAidIid" resultType="int">
        select count(*) from authorinstitution where aid = #{aid} and iid = #{iid}
    </select>

    <select id="selectAuthorByAid" resultMap="Author">
        select * from author where aid = #{aid}
    </select>

    <select id="selectAuthorByName" resultMap="Author">
        select * from author where aname like concat('%', #{aname}, '%') order by activity desc
    </select>

    <select id="selectAuthorByExactName" resultMap="Author">
        select * from author where aname=#{aname}
    </select>

    <select id="selectAuthorByIid" resultMap="Author">
        select * from author
        where aid in (
            select aid from authorinstitution where authorinstitution.iid=#{iid}
        )
    </select>

    <select id="selectAidByPid" resultType="int">
        select aid from authorpaper
        where pid=#{pid} order by authorrank
    </select>

    <update id="updateAuthor" parameterType="com.seciii.oasis.po.Author">
        update author set activity=#{activity}, paperamount=#{paperamount}, papercited=#{papercited}
        where aid=#{aid}
    </update>

    <resultMap id="Author" type="com.seciii.oasis.po.Author">
        <id column="aid" property="aid"></id>
        <result column="aname" property="aname"></result>
    </resultMap>

</mapper>