<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seciii.oasis.data.institution.InstitutionDetailMapper">

    <select id="searchAuthorByIid" resultType="int">
        select aid from authorinstitution where iid=#{iid}
    </select>

    <select id="searchCollaboration" resultMap="InstitutionCol">
        select iid, count(*) as collaborCount from institutionpaper
        where pid in
              (select pid from institutionpaper where iid = #{iid})
              and iid != #{iid} group by iid;
    </select>

    <select id="searchKeywordByIid" resultType="int">
        select distinct kid from keywordpaper
        where pid in
              (select pid from institutionpaper where iid = #{iid})
    </select>

    <select id="searchPaperByIid" resultType="int">
        select pid from institutionpaper where iid = #{iid}
    </select>

    <resultMap id="InstitutionCol" type="com.seciii.oasis.po.InstitutionCol">
        <id column="iid" property="iid"></id>
        <result column="collaborCount" property="collaborCount"></result>
    </resultMap>

</mapper>