.side-graph-div{
    height: 312px;
    width: 100%;
}
.header .logoDiv a:hover {
    color: #E63946;
}
.side-graph-title{
    color: #1D3557;
    font-size: 30px;
    font-weight: 900;
    letter-spacing:1px;
    line-height:30px
}
.detail-list-title{
    color: #F1FAEE !important;
    font-size: 28px;
    font-weight: 900;
    letter-spacing:2px;
    line-height:24px
}
a{
    color: #F1FAEE;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
a:hover{
    color: #E63946;
}
.detail-list{
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #A8DADC;
}
.year-choice{
    color: #F1FAEE;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 40px;
}
.annual-trend{
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: #A8DADC;
    height: 320px;
}
.recommend{
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #A8DADC;
    height: 320px;
}
.research-interests-title{
    color: #F1FAEE;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    white-space: nowrap;
    vertical-align: middle;
    height: 60px;
}
.research-interests-content{
    padding: 0.25em 0.4em;
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #1D3557;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
card{
    background-color: #A8DADC;
}
.recommend-info{
    font-size: 13.5px;
}
.trend-graph{
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #F1FAEE !important;
    height: 320px;
}
