.switch-button {
    color: #F1FAEE;
    background-color: #A8DADC;
    font-size: 24px;
    font-weight: 900;
    letter-spacing:2px;
    line-height:24px;
    margin-bottom: 0;
    padding: 18px 24px;
    width: 50%;
}
.switch-button:hover {
    color: #F1FAEE;
    background-color: #A8DADC;
}
.switch-button:focus, .switch-button.focus {
    color: #F1FAEE;
    background-color: #A8DADC;
}
.switch-button:active, .switch-button.active{
    color: #F1FAEE;
    background-color: #9fc7c9;
}
