.footer{
    left: 0 ; width: 100%;height: 30px;
}
.test-file{
    color: #F1FAEE;
    font-size: 50px;
}
.header{
    top:0;
    padding: 10px;
}
.header .logoDiv a{
     transition: 0.2s ease-in-out all;
     -webkit-transition: 0.2s ease-in-out all;
     -moz-transition: 0.2s ease-in-out all;
     -ms-transition: 0.2s ease-in-out all;
     -o-transition: 0.2s ease-in-out all;
     font-size: 20px;
     color: #F1FAEE;
    font-weight: 900;
    display: inline-block;
    letter-spacing:5px;
}

.header .logoDiv a:hover {
    color: #E63946;
}

.jumbotron{
    background: #1D3557;
    border:none;
    margin: auto;
    padding-top: 58px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    color: #F1FAEE;
}
h1{
    color: #F1FAEE;
}
body{
    background: #1D3557;
}
.col-sm-3{
    padding: 0;
}
.col-sm-9{
    padding: 0;
}
.col-sm-2{
    padding: 0;
}
.col-sm-8{
    padding: 0;
}
.my-card{
    background: #457B9D;
}

.bg-side{
    background-color: #F1FAEE !important;
}
.bg-centre{
    background-color: #E4FDE1; !important;
}

#keyword-tag-group{
    white-space:pre;
}
.type-list{
    font-weight: 700;
    display: block;
    background-color: #457B9D;
    border-radius: 0.25rem;
    padding: 5px;
}
#search-result-type-title{
    font-weight: 700;
}
a{
    color: #F1FAEE;
}
a:hover{
    color: #E63946;
}
#search-input{
    width: 120px;
}
.selector-one{
    width: 120px;
}
