.footer{
    left: 0 ; width: 100%;height: 30px;
}
.test-file{
    color: #F1FAEE;
    font-size: 50px;
}
.header{
    top:0;
    padding: 10px;
}
.header .logoDiv a{
    transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    font-size: 20px;
    color: #F1FAEE;
    font-weight: 900;
    display: inline-block;
    letter-spacing:5px;
}

.header .logoDiv a:hover {
    color: #E63946;
}

.jumbotron{
    background: #1D3557;
    border:none;
    margin: auto;
    padding-top: 58px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    color: #F1FAEE;
}
h1{
    color: #F1FAEE;
}
body{
    background: #1D3557;
}
.bg-centre{
    background-color: #E4FDE1; !important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: rgba(69,123,157,0.4);
     }
.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
.list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
.list-group-item.disabled, .list-group-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #ffffff; }
.list-group-item + .list-group-item {
    border-top-width: 0; }
.list-group-item + .list-group-item.active {
    margin-top: -1px;
    border-top-width: 1px; }

.statis-title {
    color: #F1FAEE !important;
    font-size: 24px;
    font-weight: 900;
    letter-spacing:2px;
    line-height:24px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.detail-list{
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #A8DADC;
}
.trend-table{
    border-color:#F1FAEE;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
}
th{
    color: #F1FAEE;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    height: 42px;
    border:2px solid #F1FAEE;
}
td{
    color: #F1FAEE;
    font-size: 18px;
    line-height: 18px;
    height: 36px;
    border:2px solid #F1FAEE;
}
.select-button{
    float:right
}
.trend-title{
    color: #F1FAEE !important;
    font-size: 24px;
    font-weight: 900;
    letter-spacing:2px;
    line-height:39px;
    height: 39px;
    margin-bottom: 20px;
    padding-bottom: 0;
}
