<!DOCTYPE html>
<html>
<head>
    <title>时序透视</title>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/movieList.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userMovie.css"/>
    <link rel="stylesheet" type="text/css" href="/css/chart.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userList.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/timeChange.js"></script>

    <!--引入jqplot-->
    <link rel="stylesheet" type="text/css" href="/js/dist/jquery.jqplot.min.css"/>
    <style type="text/css">
            .chart-title{
                background-color: #999999;
                margin-bottom: 10px;
                line-height: 30px;
                padding-left: 10px;
                background-color: #efefef;
                border-bottom:1px solid #dddddd;
                font-weight: bold;
            }

            #chart1{
                border: 1px solid #dddddd;
            }
        </style>
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/js/dist/excanvas.js"></script><![endif]-->
    <script src="http://libs.baidu.com/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/dist/jquery.jqplot.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/dist/plugins/jqplot.canvasTextRenderer.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/dist/plugins/jqplot.canvasAxisLabelRenderer.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/dist/plugins/jqplot.cursor.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/dist/plugins/jqplot.highlighter.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
            $(function(){
                var did = parseInt(window.location.href.split('?')[1].split('&')[0].split('=')[1]);
                var pname=window.location.href.split('?')[1].split('&')[1].split('=')[1];
                var allData;

                //取值


                /**
                 * 第一个参数为body中div的id值
                 * 第二个参数为要绘制的线形图中各拐点的取值
                 * */


            });
        </script>
</head>


<body>
<div class="main-container">
    <div class="nav-left-container1">
        <div class="nav-user-container" style="margin-bottom: 35px;">
            <p class="title" id="left-title">数据分析</p>
        </div>

        <ul class="nav nav-pills nav-stacked" id="attr-list">
            <li class="active"><div>attr1<input type="checkbox" name="attribute" class="check-what" value="1" /></div></li>
            <li class="active"><div>attr2<input type="checkbox" name="attribute" class="check-what" value="2" /></div></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="show-box1">
            <!--标题-->
            <div class="content-header">
                <div class="title gray-text" id="big-title">数据源</div>
            </div>
            <!--备注-->
            <div style="padding: 20px;">
                <div class="remark">
                    <p style="font-size:15px">时序透视说明</p>
                    <p style="font-size:13px">可以选择产品属性和时间，观察该属性值的动态变化</p>
                </div>
            </div>
            <!--时间-->
            <div class="form-group form-second">
                <label class="start-label" for="start"><span class="error-text">*</span>时间范围</label>
                <input class="checktime" type="date" name="user_date" id="start"/>
                <div style="float:left; margin-left:25px; font-size:20px">--------</div>
                <input class="checktime" type="date" name="user_date" id="end"/>
                <button type="button" class="btn btn-primary" id="time-check-btn">查看</button>
            </div>
            <!--图表-->
            <!-- 用于绘制图表，id在JS代码中会用到 -->
            <div id="chart1" style="width:860px;height:400px;"></div>
        </div>
    </div>
</div>



</body>

</html>