<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>api详情</title>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/movieList.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userMovie.css"/>
    <link rel="stylesheet" type="text/css" href="/css/chart.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userList.css"/>
    <link rel="stylesheet" type="text/css" href="/css/dataSaw.css"/>
    <link rel="stylesheet" type="text/css" href="/css/apiDetail.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>


    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- echart -->
    <script src="/js/echarts.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/apiDetail.js"></script>
</head>
<body>
<div class="main-container">
    <div class="content-container">
        <div class="show-box2">
            <!--标题-->
            <div class="content-header">
                <div class="title gray-text" id="big-title">数据源</div>
            </div>
            <div class="apiLink">
                <div class="small-title">AriSrn: </div>
                <div class="link-content" id="api-link">数据源</div>
            </div>
            <div class="apiDescript">
                <div class="small-title">描述: </div>
                <div class="description-content" id="api-descript">数据源</div>
            </div>
            <div class="heng1">
                <hr/>
            </div>

            <div style="margin-left: 25px; margin-bottom:-30px;">
                <div style="font-weight: 600">基本信息</div>
                <div>
                    <div class="left">ID</div>
                    <div class="right" id="ID"></div>
                </div>
                <div>
                    <div class="left">接口类型</div>
                    <div class="right" id="api-type"></div>
                </div>
                <div>
                    <div class="left">创建时间</div>
                    <div class="right" id="start-time"></div>
                </div>
                <div>
                    <div class="left">描述</div>
                    <div class="right" id="description"></div>
                </div>
            </div>

            <div class="heng1">
                <hr/>
            </div>

            <div style="margin-left: 25px; margin-bottom:-30px;">
                <div style="font-weight: 600">HTTP接口信息</div>
                <div>
                    <div class="left">ApiSrn</div>
                    <div class="right" id="api-srn"></div>
                </div>
                <div>
                    <div class="left">请求方式</div>
                    <div class="right" id="request-type"></div>
                </div>
                <div>
                    <div class="left">返回类型</div>
                    <div class="right" id="return-type"></div>
                </div>
            </div>

            <div class="heng1">
                <hr/>
            </div>


            <!-- 表单 -->
            <div style="margin-left: 25px; margin-bottom:-30px;">
                <div style="font-weight: 600">请求参数</div>
                <table class="table table-setting">
                    <thead class="table-head">
                    <tr>
                        <th>参数名称</th>
                        <th>类型</th>
                        <th>示例值</th>
                        <th>是否必选</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody id="request-list">
                    </tbody>
                </table>
            </div>

            <div class="heng1">
                <hr/>
            </div>

            <div style="margin-left: 25px; margin-bottom:-30px;">
                <div style="font-weight: 600">返回参数</div>
                <table class="table table-setting">
                    <thead class="table-head">
                    <tr>
                        <th>参数名称</th>
                        <th>类型</th>
                        <th>示例值</th>
                        <th>是否必选</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody id="return-list">
                    </tbody>
                </table>
            </div>

            <div class="heng1">
                <hr/>
            </div>

            <!--例子-->
            <div style="margin-left: 25px; margin-bottom:-30px;">
                <div style="font-weight: 600">正常返回示例</div>
                <div id="right-example">
                    example
                </div>
            </div>

            <div class="heng1">
                <hr/>
            </div>

            <div style="margin-left: 25px; margin-bottom:-30px;">
                <div style="font-weight: 600">错误码定义</div>
                <table class="table table-setting">
                    <thead class="table-head">
                    <tr>
                        <th>错误码</th>
                        <th>错误信息（英文）</th>
                        <th>错误信息（中文）</th>
                    </tr>
                    </thead>
                    <tbody id="error-list">
                    </tbody>
                </table>
            </div>

            <div class="heng1">
                <hr/>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="sawModal" tabindex="-1" role="dialog" aria-labelledby="hallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">筛选数据</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>属性</label>
                        <div class="col-sm-10">
                            <select id="product-sec" class="add-selection">
                                <option value="0">请选择属性</option>
                                <option value="12">test1</option>
                                <option value="13">test2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>筛选条件</label>
                        <div class="col-sm-10">
                            <select id="func-sec" class="add-selection">
                                <option value="0">等于</option>
                                <option value="1">大于</option>
                                <option value="2">小于</option>
                                <option value="3">大于等于</option>
                                <option value="4">小于等于</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>存储周期</label>
                        <div class="col-sm-10">
                            <input id="num-sec" class="add-selection" style="background:gainsboro;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="data-func-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>