<!DOCTYPE html>
<html>
<head>
    <title>API服务</title>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/movieList.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userMovie.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userList.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/apiService.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 35px;">
            <img class="avatar-lg" src="/images/iot.jpg" />
            <p class="title">数据分析</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/index"><i class="icon-film"></i> 数据源</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 分析透视</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 时序透视</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 可视化分析</a></li>
            <li role="presentation" class="active"><a href="#"><i class="icon-bar-chart"></i> API服务</a></li>
            <li role="presentation"><a href="/admin/memberManage"><i class="icon-beer"></i> 会员卡管理</a></li>
            <li role="presentation"><a href="/admin/refundManage"><i class="icon-gift"></i> 退票管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="show-box">
            <!--标题-->
            <div class="content-header">
                <div class="title gray-text">API服务列表</div>
            </div>
            <!--按钮/筛选/搜索-->
            <!--
            <div class="func-data">
                <div class="data-btn">
                    <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#datasourceModal"><i class="icon-plus-sign"></i> 添加设备数据源</button>
                </div>
                <div class="data-choose">
                    <select class="selection" id="sec-time">
                        <option value="0">全部存储周期</option>
                        <option value="3">3个月</option>
                        <option value="6">6个月</option>
                        <option value="12">1年</option>
                        <option value="36">3年</option>
                        <option value="60">5年</option>
                        <option value="120">10年</option>
                        <option value="1024">永久（102年）</option>
                    </select>
                </div>
                <div class="data-search">
                    <input type="text" class="form-control" id="search-input" placeholder="请输入产品名称">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="search-btn" type="button">搜索</button>
                    </span>
                </div>
            </div>

            -->

            <!--表单-->

            <div class="data-form">
                <div class="card">
                    <div class="table-wrapper">
                        <table class="table table-setting">
                            <thead class="table-head">
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>调用量</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="api-list">
                            </tbody>
                        </table>
                        <button  id="last-page-btn" type="button" class="btn btn-primary last-page" data-backdrop="static" data-toggle="modal" data-target="#movieModal" >上一页</button>
                        <button  id="next-page-btn" type="button" class="btn btn-primary next-page" data-backdrop="static" data-toggle="modal" data-target="#movieModal" >下一页</button>
                    </div>
                </div>
            </div>

        </div>
        <ul class="movie-on-list">
        </ul>
    </div>
</div>

<div class="modal fade" id="datasourceModal" tabindex="-1" role="dialog" aria-labelledby="hallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加设备数据源</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>产品名</label>
                        <div class="col-sm-10">
                            <select id="product-sec" class="add-selection">
                                <option value="0">请选择产品</option>
                                <option value="12">test1</option>
                                <option value="13">test2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>存储周期</label>
                        <div class="col-sm-10">
                            <select id="month-sec" class="add-selection">
                                <option value="1224">永久（102年）</option>
                                <option value="3">3个月</option>
                                <option value="6">6个月</option>
                                <option value="12">1年</option>
                                <option value="36">3年</option>
                                <option value="60">5年</option>
                                <option value="120">10年</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="datasource-add-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="datasourceModifyModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改设备数据源</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>产品名</label>
                        <div class="col-sm-10">
                            <p class="add-selection" id="product-res"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>存储周期</label>
                        <div class="col-sm-10">
                            <select id="month-res" class="add-selection">
                                <option value="1224">永久（102年）</option>
                                <option value="3">3个月</option>
                                <option value="6">6个月</option>
                                <option value="12">1年</option>
                                <option value="36">3年</option>
                                <option value="60">5年</option>
                                <option value="120">10年</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="datasource-edit-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>

<!--已修改 添加下架电影的提示框-->
<div class="modal fade" id="datasourceOffBatchModal" tabindex="-1" role="dialog" aria-labelledby="MovieOffBatchModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>产品名</label>
                        <div class="col-sm-10">
                            <p class="add-selection" id="product-del"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span class="error-text">*</span>存储周期</label>
                        <div class="col-sm-10">
                            <p class="add-selection" id="month-del"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 text-danger">你真的要删除这个数据源吗</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="datasource-off-batch-btn">确认</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>