<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->

    <!--     google fonts-->
    <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
            rel="stylesheet"
    >

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/combinesearch.css">
    <link rel="stylesheet" type="text/css" href="/css/input.css">

    <!-- jquery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/combinesearch.js"></script>
    <!--    fa Icons-->
    <script src="/js/all.js"></script>

    <title>advanced search</title>
</head>
<body class="text-center">
<!-- header section -->
<header class="header fixed-top" >
    <div class="container">
        <div class="logo_menu">
            <div class="logoDiv">
                <a href="/" title="OASIS"><i class="far fa-angry fa-2x" style="margin-right:15px;"></i>OASIS</a>
            </div>
            <ul class="headermenuList">
                <li><a href="/" title="home">HOME</a></li>
                <li><a href="/topiccluster" title="keyword">KEYWORD</a></li>
                <li><a href="/ranking" title="ranking">RANKING</a></li>
                <li><a href="/statistics" title="statistics">STATISTICS</a></li>
                <li><a href="/upload" title="upload">UPLOAD</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- header section -->

<!-- banner section -->
<div class="row jumbotron jumbotron-fluid" id="main">
    <div class="col-sm-1">
        <div class=" content px-4 py-2 bg-side h-100">
        </div>
    </div>
    <div class="col-sm-10">
        <div class="content px-4 py-2 bg-centre h-100">
            <!--        input author-->
            <div>
                <div class="row">
                    <h4 class="text-left col-lg-11">Author</h4>
                    <button class="btn btn-primary col-lg-1 " type="button" id="add-author">+</span> </button>
                </div>
                <hr>
                <form class="align-items-center" id="author-list">
                    <div class="m-auto">
                        <input class="m-auto form-control input-new" name="author">
                    </div>
                    <div class="row form-group author-item">
<!--                        <label class="nav flex-column justify-content-center col-lg-4  text-right">and</label>-->
<!--                        <input class="btn btn-light btn-lg col-lg-4" name="author">-->
<!--                        <div class="col-lg-4 text-left">-->
<!--                            <button class="btn btn-primary remove-author" type="button" >x</button>-->
<!--                        </div>-->
                    </div>
                </form>
                <h5 class="page-header"></h5>
                <hr>
                <h5 class="page-header"></h5>
            </div>
            <!--        input author-->

            <!--        input institute-->
            <div>
                <div class="row">
                    <h4 class="text-left col-lg-11">Institution</h4>
                    <button class="btn btn-primary col-lg-1 " type="button" id="add-institute">+</span> </button>
                </div>
                <hr>
                <form class="align-items-center" id="institute-list">
                    <div class="m-auto">
                        <input class="m-auto form-control input-new" name="institute">
                    </div>
                    <div class="row form-group institute-item">
<!--                        <label class="nav flex-column justify-content-center col-lg-4  text-right">and</label>-->
<!--                        <input class="btn btn-light btn-lg col-lg-4" name="institute">-->
<!--                        <div class="col-lg-4 text-left">-->
<!--                            <button class="btn btn-primary remove-institute" type="button" >x</button>-->
<!--                        </div>-->
                    </div>
                </form>
                <h5 class="page-header"></h5>
                <hr>
                <h5 class="page-header"></h5>
            </div>
            <!--        input institute-->

            <!--        input conference-->
            <div>
                <div class="row">
                    <h4 class="text-left col-lg-11">Conference</h4>
<!--                    <button class="btn btn-primary col-lg-1 " type="button" id="add-conference">+</span> </button>-->
                </div>
                <hr>
                <form class="align-items-center" id="conference-list">
                    <div class="m-auto">
                        <input id="conference" class="m-auto form-control input-new">
                    </div>
<!--                    <div class="row form-group conference-item">-->
<!--                        <label class="nav flex-column justify-content-center col-lg-4 text-right">and</label>-->
<!--                        <input class="btn btn-light btn-lg col-lg-4">-->
<!--                        <div class="col-lg-4 text-left">-->
<!--                            <button class="btn btn-primary remove-conference" type="button" >x</button>-->
<!--                        </div>-->
<!--                    </div>-->
                </form>
                <h5 class="page-header"></h5>
                <hr>
                <h5 class="page-header"></h5>
            </div>
            <!--        input conference-->

            <!--        input keyword-->
            <div>
                <div>
                    <div class="row">
                        <h4 class="text-left col-lg-11">Keyword</h4>
                        <button class="btn btn-primary col-lg-1 " type="button" id="add-keyword">+</span> </button>
                    </div>
                    <hr>
                    <form class="align-items-center" id="keyword-list">
                        <div class="m-auto">
                            <input class="m-auto form-control input-new" name="keyword">
                        </div>
                        <div class="row form-group keyword-item">
<!--                            <label class="nav flex-column justify-content-center col-lg-4 combinesearch-text text-right">and</label>-->
<!--                            <input class="btn btn-light btn-lg col-lg-4" name="keyword">-->
<!--                            <div class="col-lg-4 text-left">-->
<!--                                <button class="btn btn-primary remove-keyword" type="button" >x</button>-->
<!--                            </div>-->
                        </div>
                    </form>
                    <h5 class="page-header"></h5>
                    <hr>
                    <h5 class="page-header"></h5>
                </div>
            </div>
            <!--        input keyword-->

            <!--        input year-->
            <div>
                <h4 class="text-left">Publication Year</h4>
                <br>
                <div class="row" style="margin: 10px;">
                    <h6  class="text-center col-lg-2 nav flex-column justify-content-center">from</h6>
                    <input class="form-control input-new" placeholder="Start Year" id="start-year">
                    <br>
                    <h6  class="text-center col-lg-2 nav flex-column justify-content-center">to</h6>
                    <input class="form-control input-new" placeholder="End Year" id="end-year">
                </div>

            </div>
            <!--        input year-->
            <br>
            <!--            submit button-->
            <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-light btn-lg "  id="combine-search" onclick="advancedsearch()">Search</button>
                </div>
            </div>
            <!--            submit button-->
            <br>
            <br>

            <!--        alert-->
<!--            <div role="alert" class="alert alert-dismissible alert-warning " style="visibility: hidden;" id="alert">-->
<!--                <button type="button" class="close" data-dismiss="alert" onclick="hideAlert()">&times;</button>-->
<!--                  <strong>Search conditions cannot be empty.</strong>-->
<!--            </div>-->
            <div id="alert-content"></div>

        </div>

    </div>
<!--    <div class="col justify-content-center">-->
<!--    </div>-->
    <div class="col-sm-1">
        <div class=" content px-4 py-2 bg-side h-100">
        </div>
    </div>
</div>
<!-- banner section -->

<!-- footer section -->
<footer class="footer text-center">
    <div class="smallFooter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col align-items-center">
                    <p>Copyright © 2020 <a href="http://212.129.149.40/171840535_happyddl/oasis" target="_blank" class="trans">happyDDL</a> | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section -->

</body>
</html>
