<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->

    <!--     google fonts-->
    <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
            rel="stylesheet"
    >

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/input.css">

    <!-- jquery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/index.js"></script>

    <!--    fa Icons-->
    <script src="/js/all.js"></script>


    <title>index</title>
</head>
<body class="text-center">
    <!-- header section -->
    <header class="header">
        <div class="container">
            <div class="logo_menu">
                <div class="logoDiv">
                    <a href="/" title="OASIS"><i class="far fa-angry fa-2x" style="margin-right:15px;"></i>OASIS</a>
                </div>
                <div class="btn-primary">

                </div>
                <ul class="headermenuList">
                    <li><a href="/" title="home">HOME</a></li>
                    <li><a href="/topiccluster" title="keyword">KEYWORD</a></li>
                    <li><a href="/ranking" title="ranking">RANKING</a></li>
                    <li><a href="/statistics" title="statistics">STATISTICS</a></li>
                    <li><a href="/upload" title="upload">UPLOAD</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- header section -->

    <!-- banner section -->
    <div class="row jumbotron jumbotron-fluid align-items-center" id="main">
            <div class="col d-flex justify-content-center">
                <form class="search-form align-items-center">
                    <div class="form-row">
                        <span id="search-choice" class="border-right-0 drop-down">
                            <label>
                                <select class="selector border-right-0 btn btn-light btn-lg" aria-label="content type dropdown">
                                    <option value="0">Title</option>
                                    <option value="1">Author</option>
                                    <option value="2">Institution</option>
                                    <option value="3">Conference</option>
                                    <option value="4">Keyword</option>
                                </select>
                            </label>
                        </span>
                    <span>
                            <input id="search-input" class="border-right-0 border-left-0 form-control-lg" type="text" placeholder="Enter ...">
                        </span>
                    <span>
                        <button id="search-submit" type="button" class=" border-left-0 btn btn-light btn-lg " onclick="searchclick()"><i class="fas fa-search"></i></button>
                        </span>
                </div>
                    <div id="height-divider" class="w-100"></div>
                    <a id="advanced-search" href="/combine" title="advanced search">ADVANCED SEARCH    <span><i class="fas fa-angle-right"></i></span></a>
                </form >
            </div>
    </div>
    <!-- banner section -->

    <!-- footer section -->
    <footer class="footer">
        <div class="smallFooter">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col align-items-center">
                        <p>Copyright © 2020 <a href="http://212.129.149.40/171840535_happyddl/oasis" target="_blank" class="trans">happyDDL</a> | All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section -->
</body>
</html>
