<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->

    <!--     google fonts-->
    <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
            rel="stylesheet"
    >

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/paperdetail.css">
    <link rel="stylesheet" type="text/css" href="/css/input.css">
    <link rel="stylesheet" type="text/css" href="/css/details.css">

    <!-- jquery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/institutiondetail.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="/js/echarts-wordcloud.min.js"></script>


    <!--    fa Icons-->
    <script src="/js/all.js"></script>

    <title>institution detail</title>
</head>
<body>
<!-- header section -->
<div class="header fixed-top">
    <div class="container">
        <div class="logo_menu">
            <div class="logoDiv">
                <a href="/" title="OASIS"><i class="far fa-angry fa-2x" style="margin-right:15px;"></i>OASIS</a>
            </div>
            <ul class="headermenuList">
                <li><a href="/" title="home">HOME</a></li>
                <li><a href="/topiccluster" title="keyword">KEYWORD</a></li>
                <li><a href="/ranking" title="ranking">RANKING</a></li>
                <li><a href="/statistics" title="statistics">STATISTICS</a></li>
                <li><a href="/upload" title="upload">UPLOAD</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- header section -->

<!-- banner section -->
<div class="row jumbotron jumbotron-fluid" id="main">
    <div id="author-details" class="col-sm-9 h-100">
        <div class="bg-left h-100" id="institution-info">
            <h1 class=" px-4 py-2 " id="ins-detail-iname"></h1>
            <hr>
            <h4 class=" px-4 py-2 " ><span class="badge badge-info"> Acitivity </span> <span id="ins-detail-act"></span></h4>
            <h4 class=" px-4 py-2 " ><span class="badge badge-info"> Papers </span> <span id="ins-detail-paper"></span></h4>
            <h4 class=" px-4 py-2 " ><span class="badge badge-info"> Citations </span> <span id="ins-detail-cite"></span></h4>
            <hr>
            <div class="row px-4 py-2 bg-centre h-100">
                <div class="col-sm-6">
                    <div class="text-center detail-list">
                        <br>
                        <p class="detail-list-title">TOP&nbspAUTHOR&nbspLIST</p>
                        <hr>
                        <div id="ins-detail-author-list">
                        </div>
                    </div>
                </div>
                <div  class="col-sm-6">
                    <div class="text-center detail-list ">
                        <br>
                        <p class="detail-list-title">TOP&nbspPAPER&nbspLIST</p>
                        <hr>
                        <div id="ins-detail-paper-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="graphContainer" class="col-sm-3 text-center bg-right">
        <div class=" px-4 py-2">
            <div id="institutionKeywordCloud" class="side-graph-div">

            </div>
            <br>
            <p class="side-graph-title">TOP KEYWORDS</p>
            <br>
            <hr>
            <div id="institutionRelationshipGraph" class="side-graph-div">

            </div>
            <br>
            <p class="side-graph-title">RELATIONSHIP</p>
        </div>
    </div>
</div>
<!-- banner section -->

<!-- footer section -->
<footer class="footer text-center">
    <div class="smallFooter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col align-items-center">
                    <p>Copyright © 2020 <a href="http://212.129.149.40/171840535_happyddl/oasis" target="_blank" class="trans">happyDDL</a> | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section -->
</body>
</html>
