<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->

    <!--     google fonts-->
    <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
            rel="stylesheet"
    >

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/statistics.css">
    <link rel="stylesheet" type="text/css" href="/css/ranking.css">
    <link rel="stylesheet" type="text/css" href="/css/input.css">
    <link rel="stylesheet" type="text/css" href="/css/paperdetail.css">


    <!-- jquery -->
    <script src="/js/jquery.js"></script>


    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/ranking.js"></script>

    <!--    fa Icons-->
    <script src="/js/all.js"></script>

    <title>ranking</title>
</head>
<body class="text-center">
<!-- header section -->
<header class="header fixed-top">
    <div class="container">
        <div class="logo_menu">
            <div class="logoDiv">
                <a href="/" title="OASIS"><i class="far fa-angry fa-2x" style="margin-right:15px;"></i>OASIS</a>
            </div>
            <ul class="headermenuList">
                <li><a href="/" title="home">HOME</a></li>
                <li><a href="/topiccluster" title="keyword">KEYWORD</a></li>
                <li><a href="/ranking" title="ranking">RANKING</a></li>
                <li><a href="/statistics" title="statistics">STATISTICS</a></li>
                <li><a href="/upload" title="upload">UPLOAD</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- header section -->

<!-- banner section -->
<div class="row jumbotron jumbotron-fluid" id="main">
    <div id="paper-details" class="col-sm-12">
        <div class="bg-centre h-100">
            <br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="detail-list">
                        <div class="row" data-toggle="buttons">
                            <div type="button" id="button-ins" onclick="switchclick(0)" class="active switch-button"> Institution Ranking </div>
                            <div type="button" id="button-author" onclick="switchclick(1)" class="switch-button"> Author Ranking </div>
                        </div>
                        <table id="ins-table" class="trend-table">
                            <tr>
                                <th style="width:40%">institution</th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">count <i class="fas fa-caret-down"></i></a> </th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">citation <i class="fas fa-caret-down"></i></a> </th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">activity <i class="fas fa-caret-down"></i></a> </th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">score <i class="fas fa-caret-down"></i></a> </th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">H-index <i class="fas fa-caret-down"></i></a> </th>
                            </tr>
                            <tr>
                                <td><a href="/institution?iid=1444">University of Washington</a> </td>
                                <td > 23 </td>
                                <td > 33 </td>
                                <td > 4 </td>
                                <td > 4.5 </td>
                                <td > 6 </td>
                            </tr>
                        </table>
                        <table id="author-table" class="trend-table">
                            <tr>
                                <th style="width:40%">author</th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">count <i class="fas fa-caret-down"></i></a> </th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">citation <i class="fas fa-caret-down"></i></a> </th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">activity <i class="fas fa-caret-down"></i></a> </th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">score <i class="fas fa-caret-down"></i></a> </th>
                                <th style="width:10%"><a type="button" href="/keyword?iid=1444">H-index <i class="fas fa-caret-down"></i></a> </th>
                            </tr>
                            <tr>
                                <td ><a href="/institution?iid=1444">University of Washington</a> </td>
                                <td > 23 </td>
                                <td > 33 </td>
                                <td > 4 </td>
                                <td > 4.5 </td>
                                <td > 6 </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
                <div class="col-sm-1"></div>
        </div>
    </div>
</div>
<!-- banner section -->

<!-- footer section -->
<footer class="footer text-center">
    <div class="smallFooter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col align-items-center">
                    <!--                    <p>Our company is a real example for all existing organizations in the world</p>-->
                    <p>Copyright © 2020 <a href="http://212.129.149.40/171840535_happyddl/oasis" target="_blank" class="trans">happyDDL</a> | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section -->
</body>
</html>
