<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->

    <!--     google fonts-->
    <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
            rel="stylesheet"
    >

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/upload.css">
    <link rel="stylesheet" type="text/css" href="/css/input.css">

    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.form.js"></script>

    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <!--    fa Icons-->
    <script src="/js/all.js"></script>

    <script src="/js/upload.js"></script>

    <title>upload</title>
</head>
<body class="text-center">

<!-- header section -->
<header class="header">
    <div class="container">
        <div class="logo_menu">
            <div class="logoDiv">
                <a href="/" title="OASIS"><i class="far fa-angry fa-2x" style="margin-right:15px;"></i>OASIS</a>
            </div>
            <ul class="headermenuList">
                <li><a href="/" title="home">HOME</a></li>
                <li><a href="/topiccluster" title="keyword">KEYWORD</a></li>
                <li><a href="/ranking" title="ranking">RANKING</a></li>
                <li><a href="/statistics" title="statistics">STATISTICS</a></li>
                <li><a href="/upload" title="upload">UPLOAD</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- header section -->
<!-- banner section -->
<div class="row jumbotron jumbotron-fluid align-items-center text-center" id="main">
    <div class="col d-flex justify-content-center" id="file-content">
        <form id="form" enctype="multipart/form-data" method="post" target="submitcsv" action="/uploadcsv">
            <div class="empty btn btn-light btn-lg">
                <input type="file" name="file" id="upload-file" style="opacity: 0;"/>
            </div>
            <input type="submit" value="Submit" class="btn btn-lg btn-light" onclick="uploadcsv()"/>
            <span id="returnMsg"></span>
        </form>
        <iframe name="submitcsv" id='submitcsv' style="display: none;"></iframe>
    </div>
</div>
<!-- banner section -->

<!-- footer section -->
<footer class="footer">
    <div class="smallFooter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col align-items-center">
                    <!--                    <p>Our company is a real example for all existing organizations in the world</p>-->
                    <p>Copyright © 2020 <a href="http://212.129.149.40/171840535_happyddl/oasis" target="_blank" class="trans">happyDDL</a> | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section -->

</body>
</html>
