<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seciii.oasis.data.author.AuthorDetailMapper">

    <select id="searchInstitutionByAid" resultType="int">
        select iid from authorinstitution where aid=#{aid}
    </select>

    <select id="searchCollaboration" resultMap="AuthorCol">
        select aid, count(*) as collaborCount from authorpaper
        where pid in
              (select pid from authorpaper where aid = #{aid})
        and authorpaper.aid != #{aid} group by aid;
    </select>

    <select id="searchKeywordByAid" resultType="int">
        select distinct kid from keywordpaper
        where pid in
              (select pid from authorpaper where aid = #{aid})
    </select>

    <select id="searchConferenceByAid" resultType="int">
        select distinct cid from conferencepaper
        where pid in
              (select pid from authorpaper where aid = #{aid})
    </select>

    <select id="searchPaperByAid" resultType="int">
        select pid from paper where pid in (select pid from authorpaper where aid = #{aid}) order by articlecite desc limit 10
    </select>

    <select id="searchAuthorPaperDetail" resultMap="AuthorPaperDetail">
        select ap.aid,ap.pid,ap.authorrank,p.articlecite from authorpaper ap,paper p where ap.aid = #{aid} and ap.pid=p.pid
    </select>

    <resultMap id="AuthorCol" type="com.seciii.oasis.po.AuthorCol">
        <id column="aid" property="aid"></id>
        <result column="collaborCount" property="collaborCount"></result>
    </resultMap>

    <resultMap id="AuthorPaperDetail" type="com.seciii.oasis.po.AuthorPaperDetail">
        <result column="aid" property="aid"></result>
        <result column="pid" property="pid"></result>
        <result column="authorrank" property="authorrank"></result>
        <result column="articlecite" property="reference"></result>
    </resultMap>



</mapper>