<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seciii.oasis.data.ApiService.ApiMapper">

    <resultMap id="ApiSimple" type="com.seciii.oasis.po.ApiSimple">
        <id column="api_id" jdbcType="INTEGER" property="apiId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="api_type" jdbcType="VARCHAR" property="apiType"/>
        <result column="reference" jdbcType="INTEGER" property="reference"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
    </resultMap>

    <resultMap id="Api" type="com.seciii.oasis.po.Api">
        <id column="api_id" jdbcType="INTEGER" property="apiId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="api_type" jdbcType="VARCHAR" property="apiType"/>
        <result column="reference" jdbcType="INTEGER" property="reference"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="api_srn" jdbcType="VARCHAR" property="apiSrn"/>
        <result column="request_type" jdbcType="VARCHAR" property="requestType"/>
        <result column="return_type" jdbcType="VARCHAR" property="returnType"/>
    </resultMap>

    <resultMap id="Parameter" type="com.seciii.oasis.po.Parameter">
        <id column="dpid" jdbcType="INTEGER" property="dpid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="data_type" jdbcType="VARCHAR" property="dataType"/>
        <result column="example" jdbcType="VARCHAR" property="example"/>
        <result column="is_ness" jdbcType="INTEGER" property="isNess"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="getApiList" resultMap="ApiSimple">
        select api_id,name,api_type,reference,start_time from api limit #{begin},10
    </select>

    <select id="getApiById" resultMap="Api">
        select * from api where api_id=#{apiId}
    </select>

    <select id="getRequestList" resultMap="Parameter">
        select * from data_parameter where dpid in (select dpid from request_link where api_id=#{apiId})
    </select>

    <select id="getReturnList" resultMap="Parameter">
        select * from data_parameter where dpid in (select dpid from return_link where api_id=#{apiId})
    </select>


</mapper>